BASE_URL="https://gateway.test.hedvig.com"
PORT=4000
PLAYGROUND_ENABLED=true
APOLLO_DEBUG=true
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=hedvig
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
